<div class="col-md-2 col-xs-4 list-group">
	<%= link_to "Buscar Couch","#",class:'list-group-item' %> 
	<%= link_to "Ver Top Couchs","#",class:'list-group-item' %>
	<%= link_to "Acerca de","#",class:'list-group-item' %>
</div>
<div class="col-md-8 col-xs-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= image_tag 'ejemplo.jpg',title:'ejemplo' ,class:'img-responsive center-block' %>
		</div>
		<div class="panel-body">
			<p>
				Acá iría la información y demas detalles.
			</p>
		</div>
	</div>
</div>
