
<div class="col-md-8 col-xs-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= image_tag 'ejemplo.jpg',title:'ejemplo' ,class:'img-responsive center-block' %>
		</div>
		<div class="panel-body">
			<p>
				Acá iría la información y demas detalles.
			</p>
		</div>
	</div>
</div>
