<div class="col-md-2 col-xs-4 list-group">
	<%= link_to "Buscar Couch","#",class:'list-group-item' %> 
	<%= link_to "Ver lista de Couchs",couches_path,class:'list-group-item' %>
	<% if current_user.try(:admin?) %>
		<%= link_to "Modificar tipos de Couchs",tipos_path,class:'list-group-item' %>
	<% end %>
	<%= link_to "Acerca de","#",class:'list-group-item' %>
</div>
